.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 20px;
  background-color: transparent;
}
.imageWrap {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}
.imageContainer {
  position: relative;
  width: 100px;
  height: 100px;
}
.myInput {
  display: none;
}
.Label {
  border: 1px solid rgba(200, 200, 200, 0.7);
  transition: all 0.3s ease-in-out;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.Label:hover {
  background: rgba(200, 200, 200, 0.7);
}
