.emptyHeader {
  height: 10vh;
  position: relative;
  width: 100%;
}
.Container {
  position: relative;
  height: 90vh;
  width: 100%;
  display: flex;
  z-index: 100;
}

.leftSide div {
  color: burlywood;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-overflow: ellipsis;
}
.mainContent {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  position: relative;
  margin-left: 200px;
  flex: 1;
  width: 100%;
  padding: 100px;
}
